@import "tailwindcss";

@layer base {
  body {
    background-color: rgb(17 24 39); /* gray-900 */
    color: white;
  }
}

@layer components {
  .btn-primary {
    padding: 0.5rem 1rem;
    background-color: rgb(59, 130, 246);
    color: white;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .btn-primary:hover {
    background-color: rgb(37, 99, 235);
  }
}


